<h1 class="display-4 my-2 text-muted">About Us</h1>

<h2 class="my-3">We help clients create digital products and experiences that have lasting impact</h3>

  <p><%= image_tag "about-us.jpg", class: 'img-thumbnail rounded float-right img-fluid', html: { alt: "About Us" }  %>
Devcats is a mobile design and development agency building award-winning digital products that generate returns for our clients. Major brands trust us with their core mobile products and strategies, including Rosetta Stone, Marriott International, Penguin Random House, Napster, and Choice Hotels.</p>

  <p>Since we started in 2007, we’ve perfected the way we think about digital products. Our product teams across our offices in New York and Croatia offer world-class product and growth strategy, design, development, quality assurance, and customer service and support.</p>

<p>We take great pride in building successful products that evolve our client’s business. We set the growth strategy, deliver the product, and continually track, analyze and optimize all the funnels. It all comes down to app revenue, and we relentlessly optimize engagement and retention.</p>
