<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container text-sm-center pt-5">
    <h1 class="display-2">dev-cats</h1>
    <p class="lead">The mobile innovation agency</p>
    <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
      <%= link_to "Our services", pages_services_path, { :class => 'btn btn-light btn-lg' } %>
    </div>
  </div>
</div>
<!-- /jumbotron -->


